* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


html {
    scroll-behavior: smooth;
}


body {
    background:
    linear-gradient(
        90deg,
        rgba(37,99,235,0.04) 1px,
        transparent 1px
    ),
    linear-gradient(
        rgba(37,99,235,0.04) 1px,
        transparent 1px
    );

    background-size:40px 40px;
}


/* Navigation */

header {
    background: #111;
    padding: 20px 10%;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    color: white;
}


nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
}


nav a {
    color: white;
    text-decoration: none;
}


nav a:hover {
    color: #00adb5;
}


/* Hero Section */

.hero {

    height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

}


.hero-text h1 {

    font-size: 50px;

}


.hero-text h2 {

    margin: 15px 0;

    color: #00adb5;

}


.hero-text p {

    max-width: 600px;

    margin: auto;

    line-height: 1.6;

}


.btn {

    display: inline-block;

    margin-top: 25px;

    padding: 12px 30px;

    background: #111;

    color: white;

    text-decoration: none;

    border-radius: 5px;

}


.btn:hover {

    background: #00adb5;

}



/* Sections */

section {

    padding: 80px 10%;

    text-align: center;

}


section h2 {

    font-size: 35px;

    margin-bottom: 30px;

}



/* Projects */

.projects-container {

    display: flex;

    justify-content: center;

    gap: 30px;

    flex-wrap: wrap;

}


.card {

    background: white;

    padding: 30px;

    width: 300px;

    border-radius: 10px;

    box-shadow: 0 5px 15px rgba(0,0,0,0.1);

}


.card:hover {

    transform: translateY(-5px);

}



/* Footer */

footer {

    background: #111;

    color:white;

    text-align:center;

    padding:20px;

}

.about {

    max-width:1200px;

    margin:auto;

    padding:120px 40px;

}


.about-container {

    display:grid;

    grid-template-columns:
    1fr 1fr;

    gap:80px;

    align-items:center;

}
.about h1 {

    font-size:64px;

    line-height:1.1;

    letter-spacing:-2px;

    color:#0F172A;

}


.about p {

    font-size:18px;

    line-height:1.8;

    color:#64748B;

}
.profile-card {

    background:white;

    border:1px solid #E2E8F0;

    padding:30px;

    border-radius:24px;

    transition:.3s;

}


.profile-card:hover {

    transform:translateY(-8px);

    border-color:#2563EB;

    box-shadow:
    0 20px 40px rgba(0,0,0,.08);

}

.status {

display:inline-flex;

align-items:center;

gap:10px;

padding:10px 18px;

border-radius:50px;

background:#EFF6FF;

color:#2563EB;

font-size:14px;

}


.status::before {

content:"";

width:8px;

height:8px;

background:#22C55E;

border-radius:50%;

}
